<div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/#!/" class="navbar-brand">
        <img src="modules/core/img/sistcoop/logo-sistcoop.svg" alt="Sistcoop Enterprise application">
    </a>
</div>

<div class="collapse navbar-collapse navbar-collapse-1" collapse="!isCollapsed" role="navigation" data-ng-controller="HeaderController">

    <ul class="nav navbar-nav navbar-primary" data-ng-if="menu.shouldRender(authentication.user);">
        <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
                <span data-ng-bind="item.title"></span>
                <b class="caret"></b>
            </a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                </li>
            </ul>
            <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-utility">

        <li class="dropdown" dropdown>
            <a href="" class="dropdown" dropdown-toggle>
                <span class="icon-info-sign icon-white"></span>
                <strong>Mensajes: </strong>02
            </a>
            <div class="dropdown-menu infotip bottom-right">
                <div class="arrow"></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="i pficon pficon-info"></span>
                        Added Datasources TestDS
                    </li>
                    <li class="list-group-item">
                        <span class="i pficon pficon-info"></span>
                        Modified Datasources ExampleDS
                    </li>
                </ul>
                <div class="footer"><a href="#">Limpiar mensajes</a></div>
            </div>
        </li>
        <li>
            <a href="">
                <strong>Rol: </strong>
                <span ng-bind="user.roles.toString()"></span>

                <span ng-if="session.caja">(</span>
                <span ng-if="session.caja" ng-bind="session.caja.denominacion"></span>
                <span ng-if="session.caja">)</span>
            </a>
        </li>
        <li>
            <a href="">
                <strong>Usuario: </strong>
                <span ng-bind="user.username"></span>
            </a>
        </li>
        <li class="dropdown" dropdown>
            <a href="#" class="dropdown" dropdown-toggle>
                <span class="pficon pficon-add"></span>
            </a>
            <div class="dropdown-menu infotip bottom-right">
                <div class="arrow"></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="i fa fa-angle-double-right"></span>
                        <span>Sucursal: </span>
                        <span ng-if="session.sucursal.denominacion" ng-bind="session.sucursal.denominacion"></span>
                        <span ng-if="!session.sucursal.denominacion">No definido</span>
                    </li>
                    <li class="list-group-item">
                        <span class="i fa fa-angle-double-right"></span>
                        <span>Agencia: </span>
                        <span ng-if="session.agencia.denominacion" ng-bind="session.agencia.denominacion"></span>
                        <span ng-if="!session.agencia.denominacion">No definido</span>
                    </li>
                    <li class="list-group-item">
                        <span class="i fa fa-angle-double-right"></span>
                        <span>Trabajador: </span>
                        <span ng-if="session.trabajadorCaja.trabajador" ng-bind="session.trabajadorCaja.trabajador.tipoDocumento"></span>
                        <span ng-if="session.trabajadorCaja.trabajador">/</span>
                        <span ng-if="session.trabajadorCaja.trabajador" ng-bind="session.trabajadorCaja.trabajador.numeroDocumento"></span>
                        <span ng-if="!session.trabajadorCaja.trabajador">No definido</span>
                    </li>
                </ul>
            </div>
        </li>
        <li class="dropdown" dropdown>
            <a href="#" class="dropdown" dropdown-toggle>
                <span class="pficon pficon-user"></span>
                <span class="username">{{user.fullName || user.metadata.name}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="" data-ng-click="accountManagement()">Account</a>
                </li>
                <li>
                    <a href="">Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" data-ng-click="logout()">Log out</a>
                </li>
            </ul>
        </li>
    </ul>

</div>
