<br/>
<h2 class="h4">Infrastructure Performance</h2>
<div id="chart" class="c3" style="max-height: 220px; position: relative;">
	<svg width="971.75" height="220" style="overflow: hidden;">
		<defs>
			<clipPath id="c3-1435869796507-clip">
				<rect width="929.75" height="166"></rect>
			</clipPath>
			<clipPath id="c3-1435869796507-clip-xaxis">
				<rect x="-41" y="-20" width="1001.75" height="70"></rect>
			</clipPath>
			<clipPath id="c3-1435869796507-clip-yaxis">
				<rect x="-39" y="-4" width="60" height="190"></rect>
			</clipPath>
			<clipPath id="c3-1435869796507-clip-grid">
				<rect width="929.75" height="166"></rect>
			</clipPath>
			<clipPath id="c3-1435869796507-clip-subchart">
				<rect width="929.75"></rect>
			</clipPath>
		</defs>
		<g transform="translate(40.5,4.5)">
			<text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="464.875" y="83"
				  style="opacity: 0;"></text>
			<rect class="c3-zoom-rect" width="929.75" height="166" style="opacity: 0;"></rect>
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip)"
			   class="c3-regions" style="visibility: visible;"></g>
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-grid)"
			   class="c3-grid" style="visibility: visible;">
				<g class="c3-ygrids">
					<line class="c3-ygrid" x1="0" x2="930" y1="164" y2="164"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="145" y2="145"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="126" y2="126"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="107" y2="107"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="88" y2="88"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="69" y2="69"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="50" y2="50"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="31" y2="31"></line>
					<line class="c3-ygrid" x1="0" x2="930" y1="11" y2="11"></line>
				</g>
				<g class="c3-xgrid-focus">
					<line class="c3-xgrid-focus" x1="162" x2="162" y1="0" y2="166" style="visibility: hidden;"></line>
				</g>
			</g>
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip)"
			   class="c3-chart">
				<g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
					<rect class=" c3-event-rect c3-event-rect-0" x="5" y="0" width="81" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-1" x="86" y="0" width="151.5" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-2" x="237.5" y="0" width="151.5" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-3" x="389" y="0" width="152" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-4" x="541" y="0" width="152" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-5" x="693" y="0" width="152" height="166"></rect>
					<rect class=" c3-event-rect c3-event-rect-6" x="845" y="0" width="80.5" height="166"></rect>
				</g>
				<g class="c3-chart-bars">
					<g class="c3-chart-bar c3-target c3-target-data1" style="opacity: 1; pointer-events: none;">
						<g class=" c3-shapes c3-shapes-data1 c3-bars c3-bars-data1" style="cursor: pointer;"></g>
					</g>
				</g>
				<g class="c3-chart-lines">
					<g class="c3-chart-line c3-target c3-target-data1" style="opacity: 1; pointer-events: none;">
						<g class=" c3-shapes c3-shapes-data1 c3-lines c3-lines-data1">
							<path class=" c3-shape c3-shape c3-line c3-line-data1"
								  d="M10,152.25000000000003L162,98.77777777777777L313,119.78472222222223L465,14.750000000000005L617,87.31944444444444L769,37.666666666666664L921,142.70138888888889"
								  style="stroke: rgb(0, 110, 156); opacity: 1;"></path>
						</g>
						<g class=" c3-shapes c3-shapes-data1 c3-areas c3-areas-data1">
							<path class=" c3-shape c3-shape c3-area c3-area-data1" d="M 10 152.25000000000003"
								  style="fill: rgb(0, 110, 156); opacity: 0.200000002980232;"></path>
						</g>
						<g class=" c3-selected-circles c3-selected-circles-data1"></g>
						<g class=" c3-shapes c3-shapes-data1 c3-circles c3-circles-data1" style="cursor: pointer;">
							<circle class=" c3-shape c3-shape-0 c3-circle c3-circle-0" r="4" cx="10"
									cy="152.25000000000003" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-1 c3-circle c3-circle-1" r="4" cx="162"
									cy="98.77777777777777" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-2 c3-circle c3-circle-2" r="4" cx="313"
									cy="119.78472222222223" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-3 c3-circle c3-circle-3" r="4" cx="465"
									cy="14.750000000000005" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-4 c3-circle c3-circle-4" r="4" cx="617"
									cy="87.31944444444444" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-5 c3-circle c3-circle-5" r="4" cx="769"
									cy="37.666666666666664" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
							<circle class=" c3-shape c3-shape-6 c3-circle c3-circle-6" r="4" cx="921"
									cy="142.70138888888889" style="fill: rgb(0, 110, 156); opacity: 1;"></circle>
						</g>
					</g>
				</g>
				<g class="c3-chart-arcs" transform="translate(464.875,78)">
					<text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 0;"></text>
				</g>
				<g class="c3-chart-texts">
					<g class="c3-chart-text c3-target c3-target-data1" style="opacity: 1; pointer-events: none;">
						<g class=" c3-texts c3-texts-data1"></g>
					</g>
				</g>
			</g>
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-grid)"
			   class="c3-grid c3-grid-lines">
				<g class="c3-xgrid-lines"></g>
				<g class="c3-ygrid-lines"></g>
			</g>
			<g class="c3-axis c3-axis-x"
			   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-xaxis)"
			   transform="translate(0,166)" style="visibility: visible; opacity: 1;">
				<text class="c3-axis-x-label" transform="" x="929.75" dx="-0.5em" dy="-0.5em"
					  style="text-anchor: end;"></text>
				<g class="tick" transform="translate(10, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-01</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(162, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-02</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(313, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-03</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(465, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-04</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(617, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-05</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(769, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-06</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(921, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-07</tspan>
					</text>
				</g>
				<path class="domain" d="M0,0V0H929.75V0"></path>
			</g>
			<g class="c3-axis c3-axis-y"
			   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-yaxis)"
			   transform="translate(0,0)" style="visibility: visible; opacity: 1;">
				<text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em"
					  style="text-anchor: end;"></text>
				<g class="tick" transform="translate(0,164)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">10%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,145)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">20%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,126)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">30%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,107)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">40%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,88)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">50%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,69)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">60%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,50)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">70%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,31)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">80%</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,11)" style="opacity: 1;">
					<line x2="-6"></line>
					<text x="-9" y="0" style="text-anchor: end;">
						<tspan x="-9" dy="3">90%</tspan>
					</text>
				</g>
				<path class="domain" d="M0,1H0V166H0"></path>
			</g>
			<g class="c3-axis c3-axis-y2" transform="translate(929.75,0)" style="visibility: hidden; opacity: 1;">
				<text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em"
					  style="text-anchor: end;"></text>
				<g class="tick" transform="translate(0,166)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,150)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.1</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,133)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.2</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,117)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.3</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,100)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.4</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,84)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.5</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,67)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.6</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,51)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.7</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,34)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.8</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,18)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">0.9</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(0,1)" style="opacity: 1;">
					<line x2="6" y2="0"></line>
					<text x="9" y="0" style="text-anchor: start;">
						<tspan x="9" dy="3">1</tspan>
					</text>
				</g>
				<path class="domain" d="M6,1H0V166H6"></path>
			</g>
		</g>
		<g transform="translate(20.5,220.5)" style="visibility: hidden;">
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-subchart)"
			   class="c3-chart">
				<g class="c3-chart-bars"></g>
				<g class="c3-chart-lines"></g>
			</g>
			<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip)"
			   class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
				<rect class="background" x="0" width="949.75" style="visibility: hidden; cursor: crosshair;"></rect>
				<rect class="extent" x="0" width="0" style="cursor: move;"></rect>
				<g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
					<rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
				</g>
				<g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
					<rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
				</g>
			</g>
			<g class="c3-axis-x" transform="translate(0,0)"
			   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796507-clip-xaxis)"
			   style="opacity: 1;">
				<g class="tick" transform="translate(10, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-01</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(162, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-02</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(313, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-03</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(465, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-04</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(617, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-05</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(769, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-06</tspan>
					</text>
				</g>
				<g class="tick" transform="translate(921, 0)" style="opacity: 1;">
					<line y2="6" x1="0" x2="0"></line>
					<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
						<tspan x="0" dy=".71em" dx="0">04-07</tspan>
					</text>
				</g>
				<path class="domain" d="M0,0V0H929.75V0"></path>
			</g>
		</g>
		<g transform="translate(0,200)">
			<g class=" c3-legend-item c3-legend-item-data1" style="visibility: hidden; cursor: pointer;">
				<text x="14" y="9" style="pointer-events: none;">data1</text>
				<rect class="c3-legend-item-event" x="0" y="-5" width="0" height="0" style="fill-opacity: 0;"></rect>
				<rect class="c3-legend-item-tile" x="0" y="0" width="10" height="10"
					  style="pointer-events: none; fill: rgb(0, 110, 156);"></rect>
			</g>
		</g>
	</svg>
	<div class="c3-tooltip-container"
		 style="position: absolute; pointer-events: none; display: none; top: 16.5px; left: 222.5px;">
		<table class="c3-tooltip">
			<tbody>
			<tr>
				<th colspan="2">04-02</th>
			</tr>
			<tr class="c3-tooltip-name-data1">
				<td class="name"><span style="background-color:#006e9c"></span>data1</td>
				<td class="value">44%</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<hr>
<h2 class="h4">Resource Usage</h2>
<div class="row">
	<div class="col-sm-6">
		<div id="chart2" class="c3" style="max-height: 220px; position: relative;">
			<svg width="465.875" height="220" style="overflow: hidden;">
				<defs>
					<clipPath id="c3-1435869796675-clip">
						<rect width="465.875" height="216"></rect>
					</clipPath>
					<clipPath id="c3-1435869796675-clip-xaxis">
						<rect x="-31" y="-20" width="527.875" height="20"></rect>
					</clipPath>
					<clipPath id="c3-1435869796675-clip-yaxis">
						<rect x="-29" y="-4" width="20" height="240"></rect>
					</clipPath>
					<clipPath id="c3-1435869796675-clip-grid">
						<rect width="465.875" height="216"></rect>
					</clipPath>
					<clipPath id="c3-1435869796675-clip-subchart">
						<rect width="465.875"></rect>
					</clipPath>
				</defs>
				<g transform="translate(0.5,4.5)">
					<text class="c3-text c3-empty" text-anchor="middle" dominant-baseline="middle" x="232.9375" y="108"
						  style="opacity: 0;"></text>
					<rect class="c3-zoom-rect" width="465.875" height="216" style="opacity: 0;"></rect>
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip)"
					   class="c3-regions" style="visibility: hidden;"></g>
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-grid)"
					   class="c3-grid" style="visibility: hidden;">
						<g class="c3-xgrid-focus">
							<line class="c3-xgrid-focus" x1="-10" x2="-10" y1="0" y2="216"
								  style="visibility: hidden;"></line>
						</g>
					</g>
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip)"
					   class="c3-chart">
						<g class="c3-event-rects c3-event-rects-single" style="fill-opacity: 0;">
							<rect class=" c3-event-rect c3-event-rect-0" x="-111.46875" y="0" width="232.9375"
								  height="216"></rect>
							<rect class=" c3-event-rect c3-event-rect-1" x="345.53125" y="0" width="232.9375"
								  height="216"></rect>
						</g>
						<g class="c3-chart-bars">
							<g class="c3-chart-bar c3-target c3-target-Cloud" style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Cloud c3-bars c3-bars-Cloud"
								   style="cursor: pointer;"></g>
							</g>
							<g class="c3-chart-bar c3-target c3-target-Virtual"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Virtual c3-bars c3-bars-Virtual"
								   style="cursor: pointer;"></g>
							</g>
							<g class="c3-chart-bar c3-target c3-target-Baremetal"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Baremetal c3-bars c3-bars-Baremetal"
								   style="cursor: pointer;"></g>
							</g>
						</g>
						<g class="c3-chart-lines">
							<g class="c3-chart-line c3-target c3-target-Cloud"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Cloud c3-lines c3-lines-Cloud"></g>
								<g class=" c3-shapes c3-shapes-Cloud c3-areas c3-areas-Cloud"></g>
								<g class=" c3-selected-circles c3-selected-circles-Cloud"></g>
								<g class=" c3-shapes c3-shapes-Cloud c3-circles c3-circles-Cloud"
								   style="cursor: pointer;"></g>
							</g>
							<g class="c3-chart-line c3-target c3-target-Virtual"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Virtual c3-lines c3-lines-Virtual"></g>
								<g class=" c3-shapes c3-shapes-Virtual c3-areas c3-areas-Virtual"></g>
								<g class=" c3-selected-circles c3-selected-circles-Virtual"></g>
								<g class=" c3-shapes c3-shapes-Virtual c3-circles c3-circles-Virtual"
								   style="cursor: pointer;"></g>
							</g>
							<g class="c3-chart-line c3-target c3-target-Baremetal"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-shapes c3-shapes-Baremetal c3-lines c3-lines-Baremetal"></g>
								<g class=" c3-shapes c3-shapes-Baremetal c3-areas c3-areas-Baremetal"></g>
								<g class=" c3-selected-circles c3-selected-circles-Baremetal"></g>
								<g class=" c3-shapes c3-shapes-Baremetal c3-circles c3-circles-Baremetal"
								   style="cursor: pointer;"></g>
							</g>
						</g>
						<g class="c3-chart-arcs" transform="translate(187.4375,108)">
							<text class="c3-chart-arcs-title" style="text-anchor: middle; opacity: 1;">29,210 Hosts
							</text>
							<g class="c3-chart-arc c3-target c3-target-Cloud">
								<g class=" c3-shapes c3-shapes-Cloud c3-arcs c3-arcs-Cloud">
									<path class=" c3-shape c3-shape c3-arc c3-arc-Cloud" transform=""
										  d="M-4.607242439793569,102.49650392623626A102.6,102.6 0 0,1 -70.74523003690943,-74.30930242590605L-42.44713802214566,-44.585581455543625A61.559999999999995,61.559999999999995 0 0,0 -2.764345463876141,61.49790235574175Z"
										  style="fill: rgb(0, 110, 156); cursor: pointer; opacity: 1;"></path>
								</g>
								<text dy=".35em" class="" transform="translate(-76.87734466609368,28.757612506789165)"
									  style="opacity: 1; text-anchor: middle; pointer-events: none;">37.2%
								</text>
							</g>
							<g class="c3-chart-arc c3-target c3-target-Virtual">
								<g class=" c3-shapes c3-shapes-Virtual c3-arcs c3-arcs-Virtual">
									<path class=" c3-shape c3-shape c3-arc c3-arc-Virtual" transform=""
										  d="M-70.74523003690943,-74.30930242590605A102.6,102.6 0 0,1 -1.8847314238877764e-14,-102.6L-1.1308388543326657e-14,-61.559999999999995A61.559999999999995,61.559999999999995 0 0,0 -42.44713802214566,-44.585581455543625Z"
										  style="fill: rgb(0, 168, 225); cursor: pointer; opacity: 1;"></path>
								</g>
								<text dy=".35em" class="" transform="translate(-30.476879478592544,-76.21211332358752)"
									  style="opacity: 1; text-anchor: middle; pointer-events: none;">12.1%
								</text>
							</g>
							<g class="c3-chart-arc c3-target c3-target-Baremetal">
								<g class=" c3-shapes c3-shapes-Baremetal c3-arcs c3-arcs-Baremetal">
									<path class=" c3-shape c3-shape c3-arc c3-arc-Baremetal" transform=""
										  d="M6.282438079625921e-15,-102.6A102.6,102.6 0 1,1 -4.607242439793569,102.49650392623626L-2.764345463876141,61.49790235574175A61.559999999999995,61.559999999999995 0 1,0 3.769462847775553e-15,-61.559999999999995Z"
										  style="fill: rgb(150, 150, 150); cursor: pointer; opacity: 1;"></path>
								</g>
								<text dy=".35em" class="" transform="translate(82.0592981745895,1.8433618998479733)"
									  style="opacity: 1; text-anchor: middle; pointer-events: none;">50.7%
								</text>
							</g>
						</g>
						<g class="c3-chart-texts">
							<g class="c3-chart-text c3-target c3-target-Cloud"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-texts c3-texts-Cloud"></g>
							</g>
							<g class="c3-chart-text c3-target c3-target-Virtual"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-texts c3-texts-Virtual"></g>
							</g>
							<g class="c3-chart-text c3-target c3-target-Baremetal"
							   style="opacity: 1; pointer-events: none;">
								<g class=" c3-texts c3-texts-Baremetal"></g>
							</g>
						</g>
					</g>
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-grid)"
					   class="c3-grid c3-grid-lines">
						<g class="c3-xgrid-lines"></g>
						<g class="c3-ygrid-lines"></g>
					</g>
					<g class="c3-axis c3-axis-x"
					   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-xaxis)"
					   transform="translate(0,216)" style="visibility: visible; opacity: 0;">
						<text class="c3-axis-x-label" transform="" x="465.875" dx="-0.5em" dy="-0.5em"
							  style="text-anchor: end;"></text>
						<g class="tick" transform="translate(5, 0)" style="opacity: 1;">
							<line y2="6" x1="0" x2="0"></line>
							<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
								<tspan x="0" dy=".71em" dx="0">0</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(462, 0)" style="opacity: 1;">
							<line y2="6" x1="0" x2="0"></line>
							<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
								<tspan x="0" dy=".71em" dx="0">1</tspan>
							</text>
						</g>
						<path class="domain" d="M0,6V0H465.875V6"></path>
					</g>
					<g class="c3-axis c3-axis-y"
					   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-yaxis)"
					   transform="translate(0,0)" style="visibility: visible; opacity: 0;">
						<text class="c3-axis-y-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="1.2em"
							  style="text-anchor: end;"></text>
						<g class="tick" transform="translate(0,199)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">0</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,167)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">200</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,135)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">400</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,103)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">600</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,71)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">800</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,39)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">1000</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,7)" style="opacity: 1;">
							<line x2="-6"></line>
							<text x="-9" y="0" style="text-anchor: end;">
								<tspan x="-9" dy="3">1200</tspan>
							</text>
						</g>
						<path class="domain" d="M-6,1H0V216H-6"></path>
					</g>
					<g class="c3-axis c3-axis-y2" transform="translate(465.875,0)"
					   style="visibility: hidden; opacity: 0;">
						<text class="c3-axis-y2-label" transform="rotate(-90)" x="0" dx="-0.5em" dy="-0.5em"
							  style="text-anchor: end;"></text>
						<g class="tick" transform="translate(0,216)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,195)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.1</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,173)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.2</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,152)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.3</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,130)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.4</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,109)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.5</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,87)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.6</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,66)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.7</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,44)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.8</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,23)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">0.9</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(0,1)" style="opacity: 1;">
							<line x2="6" y2="0"></line>
							<text x="9" y="0" style="text-anchor: start;">
								<tspan x="9" dy="3">1</tspan>
							</text>
						</g>
						<path class="domain" d="M6,1H0V216H6"></path>
					</g>
				</g>
				<g transform="translate(0.5,220.5)" style="visibility: hidden;">
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-subchart)"
					   class="c3-chart">
						<g class="c3-chart-bars"></g>
						<g class="c3-chart-lines"></g>
					</g>
					<g clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip)"
					   class="c3-brush" style="pointer-events: all; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
						<rect class="background" x="0" width="465.875"
							  style="visibility: hidden; cursor: crosshair;"></rect>
						<rect class="extent" x="0" width="0" style="cursor: move;"></rect>
						<g class="resize e" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
							<rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
						</g>
						<g class="resize w" transform="translate(0,0)" style="cursor: ew-resize; display: none;">
							<rect x="-3" width="6" height="6" style="visibility: hidden;"></rect>
						</g>
					</g>
					<g class="c3-axis-x" transform="translate(0,0)"
					   clip-path="url(https://rawgit.com/patternfly/patternfly/master/tests/dashboard.html#c3-1435869796675-clip-xaxis)"
					   style="opacity: 0;">
						<g class="tick" transform="translate(5, 0)" style="opacity: 1;">
							<line y2="6" x1="0" x2="0"></line>
							<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
								<tspan x="0" dy=".71em" dx="0">0</tspan>
							</text>
						</g>
						<g class="tick" transform="translate(462, 0)" style="opacity: 1;">
							<line y2="6" x1="0" x2="0"></line>
							<text y="9" x="0" transform="" style="text-anchor: middle; display: block;">
								<tspan x="0" dy=".71em" dx="0">1</tspan>
							</text>
						</g>
						<path class="domain" d="M0,6V0H465.875V6"></path>
					</g>
				</g>
				<g transform="translate(306.2375,0)">
					<g class=" c3-legend-item c3-legend-item-Cloud"
					   style="visibility: visible; cursor: pointer; opacity: 1;">
						<text x="14" y="92" style="pointer-events: none;">Cloud</text>
						<rect class="c3-legend-item-event" x="0" y="78" width="58" height="18"
							  style="fill-opacity: 0;"></rect>
						<rect class="c3-legend-item-tile" x="0" y="83" width="10" height="10"
							  style="pointer-events: none; fill: rgb(0, 110, 156);"></rect>
					</g>
					<g class=" c3-legend-item c3-legend-item-Virtual"
					   style="visibility: visible; cursor: pointer; opacity: 1;">
						<text x="14" y="110" style="pointer-events: none;">Virtual</text>
						<rect class="c3-legend-item-event" x="0" y="96" width="60" height="18"
							  style="fill-opacity: 0;"></rect>
						<rect class="c3-legend-item-tile" x="0" y="101" width="10" height="10"
							  style="pointer-events: none; fill: rgb(0, 168, 225);"></rect>
					</g>
					<g class=" c3-legend-item c3-legend-item-Baremetal" style="visibility: visible; cursor: pointer;">
						<text x="14" y="128" style="pointer-events: none;">Baremetal</text>
						<rect class="c3-legend-item-event" x="0" y="114" width="81" height="18"
							  style="fill-opacity: 0;"></rect>
						<rect class="c3-legend-item-tile" x="0" y="119" width="10" height="10"
							  style="pointer-events: none; fill: rgb(150, 150, 150);"></rect>
					</g>
				</g>
			</svg>
			<div class="c3-tooltip-container"
				 style="position: absolute; pointer-events: none; display: none; top: 114.5px; left: 280.5px;">
				<table class="c3-tooltip">
					<tbody>
					<tr class="c3-tooltip-name-Baremetal">
						<td class="name"><span style="background-color:#969696"></span>Baremetal</td>
						<td class="value">50.7%</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-6">

	</div>
</div>
