<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos principales</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Cod.pais:</dt>
                    <dd data-ng-bind="view.load.socioPersonaNatural.codigoPais"></dd>
                    <dt>Doc.:</dt>
                    <dd data-ng-bind-template="{{view.load.socioPersonaNatural.tipoDocumento}}/{{view.load.socioPersonaNatural.numeroDocumento}}"></dd>
                    <dt>Apellidos:</dt>
                    <dd data-ng-bind-template="{{view.load.socioPersonaNatural.apellidoPaterno}}&nbsp;{{view.load.socioPersonaNatural.apellidoMaterno}}"></dd>
                    <dt>Nombres:</dt>
                    <dd data-ng-bind="view.load.socioPersonaNatural.nombres"></dd>
                    <dt>F.nac.:</dt>
                    <dd data-ng-bind="view.load.socioPersonaNatural.fechaNacimiento | date : 'dd/MM/yyyy'"></dd>
                    <dt>Sexo:</dt>
                    <dd data-ng-bind="view.load.socioPersonaNatural.sexo"></dd>
                    <dt>E.Civil::</dt>
                    <dd data-ng-if="view.load.socioPersonaNatural.estadoCivil" data-ng-bind="view.load.socioPersonaNatural.estadoCivil"></dd>
                    <dd data-ng-if="!view.load.socioPersonaNatural.estadoCivil"><em>No registrado</em></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos de socio</h3>
            </div>
            <div class="panel-body">
                <h2>Socio</h2>
                <dl class="dl-horizontal">
                    <dt>Fecha inicio:</dt>
                    <dd data-ng-bind="view.socio.fechaInicio | date : 'dd/MM/yyyy'"></dd>
                    <dt>Fecha fin::</dt>
                    <dd data-ng-if="view.socio.fechaFin" data-ng-bind="view.socio.fechaFin | date : 'dd/MM/yyyy'"></dd>
                    <dd data-ng-if="!view.socio.fechaFin"><em>No registrado</em></dd>
                    <dt>Estado:</dt>
                    <dd data-ng-bind="view.socio.estado"></dd>
                </dl>
                <h2>Cuenta aporte</h2>
                <dl class="dl-horizontal">
                    <dt>Numero cuenta:</dt>
                    <dd data-ng-bind="view.load.cuentaAporte.numeroCuenta"></dd>
                    <dt>Moneda:</dt>
                    <dd data-ng-bind="view.load.cuentaAporte.moneda"></dd>
                    <dt>Saldo:</dt>
                    <dd data-ng-bind="view.load.cuentaAporte.saldo"></dd>
                    <dt>Estado:</dt>
                    <dd data-ng-bind="view.load.cuentaAporte.estado"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Representante legal</h3>
            </div>
            <div class="panel-body">
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Cod.pais:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.representanteLegal.codigoPais"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Documento:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.tipoDocumento"></strong>
                                <strong data-ng-show="view.persona.representanteLegal.tipoDocumento">/</strong>
                                <strong data-ng-bind="view.persona.representanteLegal.numeroDocumento"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Apellidos:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.apellidoPaterno"></strong>&nbsp;
                                <strong data-ng-bind="view.persona.representanteLegal.apellidoMaterno"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Nombres:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.nombres"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Sexo:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.representanteLegal.sexo"></strong></p>
                        </div>
                    </div>
                </div>
                <button type="button" ui-sref="^.representante" class="btn btn-default">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Cuentas personales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-condensed">
                            <caption data-ng-show="!view.load.cuentasPersonales.length">No se encontraron cuentas.</caption>
                            <thead data-ng-show="view.load.cuentasPersonales.length">
                            <tr>
                                <th>#</th>
                                <th>Tipo</th>
                                <th>Numero</th>
                                <th>Moneda</th>
                                <th>Saldo</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in view.load.cuentasPersonales">
                                <td><span data-ng-bind="$index+1"></span></td>
                                <td>
                                    <span data-ng-bind="item.tipo"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.numero"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.moneda"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.saldo"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.estado"></span>
                                </td>
                                <td style="text-align: center">
                                    <button type="button" data-ng-click="vetCuentaPersonal(item)" class="btn btn-info btn-xs">Ver</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
