<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset class="border-top">
                    <legend><span class="text">Datos principales</span></legend>
                    <dl class="dl-horizontal left">
                        <dt>Denominacion:</dt>
                        <dd data-ng-bind="view.sucursal.denominacion"></dd>
                    </dl>
                </fieldset>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset class="border-top">
                    <legend><span class="text">Agencias</span></legend>
                    <table class="table table-striped table-bordered table-condensed">
                        <caption ng-show="!loadObjects.agencias.length">No se encontraron agencias.</caption>
                        <thead ng-show="loadObjects.agencias.length">
                        <tr>
                            <th width="10%">#</th>
                            <th>Denominacion</th>
                            <th width="20%">Ubigeo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in loadObjects.agencias">
                            <td><span ng-bind="$index+1"></span></td>
                            <td>
                                <span ng-bind="item.denominacion"></span>
                            </td>
                            <td>
                                <span ng-bind="item.ubigeo"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
