<form name="form" sg-read-only="!access.administrarSucursales" class="form-horizontal" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : form.denominacion.$invalid && form.denominacion.$dirty}">
        <label class="col-sm-2 control-label"><span class="required">*</span> Denominacion:</label>
        <div class="col-sm-4">
            <input type="text" name="denominacion" ng-model="view.sucursal.denominacion" sg-denominacion-sucursal-validate sg-exclude="view.sucursal" ng-maxlength="60" class="form-control" pf-focused="true" autofocus required/>
            <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$dirty">
                <div class="has-error" ng-message="required">Ingrese denominacion.</div>
                <div class="has-error" ng-message="maxlength">Maximo 60 caracteres.</div>
                <div class="has-error" ng-message="disponible">Denominacion no disponible.</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button sg-save ng-disabled="working">
                <span ng-show="working">Guardando...</span>
                <span ng-hide="working">Guardar</span>
            </button>
            <button sg-cancel ng-disabled="working" ui-sref="^.resumen">Cancelar</button>
        </div>
    </div>
</form>
