<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Crear persona juridica</h1>
</div>

<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">

                    <form name="form" data-ng-submit="submit()" sg-read-only="!access.administrarPersonas" novalidate>
                        <div ui-view></div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

