<div class="modal-header">
	<h3 class="modal-title">Selecciona una foto para la persona</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="margin-top: 30px; margin-bottom: 30px;">
			<div style="text-align: center;">
				<img ngf-src="files[0]" ngf-default-src="/modules/persona/img/upload.png" ngf-accept="'image/*'", ngf-min-size="10", ngf-max-size="10000">
			</div>
			</br>
			<div class="progress-description">
				<span ng-show="uploader.progress" class="count">Subiendo</span>
			</div>
			<div class="progress progress-label-top-right">
				<div class="progress-bar" ng-style="{ 'width': uploader.progress + '%' }">
					<span ng-show="uploader.progress">{{uploader.progress}}%</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div style="text-align: center;">
                <span class="btn btn-default fileinput-button" style="height: 27px;">
    				<div class="button" ngf-select ngf-change="upload($files)">Upload on file change</div>
                </span>
		</div>
	</div>
</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="ok()">Guardar</button>
	<button class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
</div>
