<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos principales</h3>
            </div>
            <div class="panel-body">
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Cod.pais:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.codigoPais"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Documento:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.tipoDocumento"></strong>
                                <strong data-ng-show="view.persona.tipoDocumento">/</strong>
                                <strong data-ng-bind="view.persona.numeroDocumento"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Razon social:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.razonSocial"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>N.comercial:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.nombreComercial"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Act.principal:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.actividadPrincipal"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>F.const.:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong data-ng-bind="view.persona.fechaConstitucion | date : 'dd/MM/yyyy'"></strong></p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>T.empresa:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong data-ng-bind="view.persona.tipoEmpresa"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Fin.lucro:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong data-ng-bind="view.persona.finLucro | si_no | uppercase"></strong></p>
                        </div>
                    </div>
                </div>
                <button type="button" ui-sref="^.datosPrincipales" class="btn btn-default">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos adicionales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Direccion:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p><strong data-ng-bind="view.persona.direccion"></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Referencia:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p><strong data-ng-bind="view.persona.referencia"></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Ubigeo:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p><strong data-ng-bind="view.persona.ubigeo"></strong></p>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Telefono:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p><strong data-ng-bind="view.persona.telefono"></strong></p>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Celular:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <p><strong data-ng-bind="view.persona.celular"></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <p>Email:&nbsp;</p>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <p><strong data-ng-bind="view.persona.email"></strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Representante legal</h3>
            </div>
            <div class="panel-body">
                <div style="border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Cod.pais:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.representanteLegal.codigoPais"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Documento:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.tipoDocumento"></strong>
                                <strong data-ng-show="view.persona.representanteLegal.tipoDocumento">/</strong>
                                <strong data-ng-bind="view.persona.representanteLegal.numeroDocumento"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Apellidos:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.apellidoPaterno"></strong>&nbsp;
                                <strong data-ng-bind="view.persona.representanteLegal.apellidoMaterno"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Nombres:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p>
                                <strong data-ng-bind="view.persona.representanteLegal.nombres"></strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p>Sexo:&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p><strong data-ng-bind="view.persona.representanteLegal.sexo"></strong></p>
                        </div>
                    </div>
                </div>
                <button type="button" ui-sref="^.representante" class="btn btn-default">Editar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Accionistas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-condensed">
                            <caption data-ng-show="!view.loadObjects.accionistas.length">No se encontraron accionistas.</caption>
                            <thead data-ng-show="view.loadObjects.accionistas.length">
                            <tr>
                                <th>#</th>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>%</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in view.loadObjects.accionistas">
                                <td><span data-ng-bind="$index+1"></span></td>
                                <td>
                                    <span data-ng-bind="item.tipoDocumento"></span><span>/</span><span data-ng-bind="item.numeroDocumento"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.apellidoPaterno"></span><span>&nbsp;</span><span data-ng-bind="item.apellidoMaterno"></span><span>,&nbsp;</span><span data-ng-bind="item.nombres"></span>
                                </td>
                                <td>
                                    <span data-ng-bind="item.porcentajeParticipacion"></span>
                                </td>
                                <td style="text-align: center">
                                    <button type="button" data-ng-click="verPersona(item)" class="btn btn-info btn-xs">Ver</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>