<form name="form" data-ng-submit="submit()" novalidate>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <p ng-if="!view.loaded.detalle.length">
                        No se encontró detalle de caja, verifique que la caja este abierta.
                    </p>
                    <tabset ng-if="view.loaded.detalle.length">
                        <tab ng-repeat="tab in ::view.loaded.detalle track by tab.moneda | orderBy: moneda" heading="{{tab.moneda}}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ::tab.detalle | orderBy: 'valor'">
                                            <td style="height: 33px;"><span ng-bind="$index+1"></span></td>
                                            <td><span ng-bind="::item.valor | currency: ''"></span></td>
                                            <td><span ng-bind="::item.cantidad"></span></td>
                                            <td>
                                                <span ng-bind="::item.getSubTotal() | currency: ''"></span>
                                                &nbsp;
                                                <span ng-bind="::tab.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="3">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="::tab.getTotal() | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th width="60px">Valor</th>
                                            <th width="150px">
                                                <label style="margin: 0;">
                                                    <div class="cbr-replaced" ng-class="{ 'cbr-checked' : config.checkbox.cantidad }">
                                                        <div class="cbr-input">
                                                            <input type="checkbox" ng-model="config.checkbox.cantidad" class="cbr cbr-done">
                                                        </div>
                                                        <div class="cbr-state"><span></span></div>
                                                    </div>
                                                </label>Cantidad
                                            </th>
                                            <th>Sub total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ::tab.detalle | orderBy: 'valor'">
                                            <td style="height: 33px;">
                                                <span ng-bind="::item.valor | currency: ''"></span>
                                            </td>
                                            <td ng-if="config.checkbox.cantidad">
                                                <ng-form name="form">
                                                    <div class="form-group" ng-class="{ 'has-error' : form.cantidad.$invalid }" style="margin: 0;">
                                                        <input type="text" name="cantidad" ng-model="item.cantidad"
                                                               ui-number-mask="0" min="0" max="999999999"
                                                               ng-minlength="1" ng-maxlength="11" class="form-control"
                                                               placeholder="Cantidad" required
                                                               style="text-align: right;"/>
                                                    </div>
                                                </ng-form>
                                            </td>
                                            <td ng-if="!config.checkbox.cantidad" style="text-align: right;">
                                                <span ng-bind="item.cantidad | number"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="item.getSubTotal() | currency: ''"></span>&nbsp;<span ng-bind="tab.boveda.moneda"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="2">Total:</th>
                                            <th rowspan="1" colspan="1"><span ng-bind="tab.getTotal() | currency : ''"></span></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                    <p>
                        <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">
                            Guardar
                        </button>
                        <button type="button" class="btn btn-default" ui-sref="^.resumen">Cancelar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</form>