<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Datos principales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Codigo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.producto.codigo"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Denominacion:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.producto.denominacion"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Moneda:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.producto.moneda"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Tipo persona:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.producto.tipoPersona"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Monto minimo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <strong data-ng-bind="view.producto.montoMinimo | currency: ''"></strong>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Monto maximo:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <strong data-ng-bind="view.producto.montoMaximo | currency: ''"></strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <p>Estado:&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>
                            <strong data-ng-bind="view.producto.estado | si_no : 'activo' | uppercase"></strong>
                        </p>
                    </div>
                </div>
                <button type="button" ui-sref="^.datosPrincipales" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Tasas asignadas</h3>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Tasa</th>
                            <th>Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in loadObjects.tasas">
                            <td><span data-ng-bind="$index+1"></span></td>
                            <td><span data-ng-bind="item.tasa"></span></td>
                            <td><span data-ng-bind="item.valor | currency: ''"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" ui-sref="^.tasas" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Caracteristicas</h3>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Descripcion</th>
                            <th>D.detallada</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in loadObjects.caracteristicas">
                            <td><span data-ng-bind="$index+1"></span></td>
                            <td><span data-ng-bind="item.descripcion"></span></td>
                            <td><span data-ng-bind="item.descripcionDetallada"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" ui-sref="^.caracteristicas" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="panel panel-default panel-border panel-shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Comisiones asignadas</h3>
            </div>
            <div class="panel-body">

                <button type="button" ui-sref="^.comisiones" class="btn btn-default">Editar</button>
            </div>
        </div>

    </div>
</div>