<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Crear producto credito</h1>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <form name="form" data-ng-submit="submit()" novalidate>
                        <div>
                            <h4><strong>Datos principales</strong></h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" data-ng-class="{ 'has-error' : form.codigo.$invalid && (form.codigo.$touched || form.$submitted)}">
                                        <label>Codigo</label>
                                        <input type="text" name="codigo" data-ng-model="view.producto.codigo" data-ng-maxlength="30" class="form-control" autofocus required/>
                                        <div data-ng-messages="form.codigo.$error" ng-if="form.codigo.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese abreviatura.</div>
                                            <div class="has-error" data-ng-message="maxlength">Maximo 30 caracteres.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" data-ng-class="{ 'has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
                                        <label>Denominacion</label>
                                        <input type="text" name="denominacion" data-ng-model="view.producto.denominacion" data-ng-maxlength="60" class="form-control" required/>
                                        <div data-ng-messages="form.denominacion.$error" data-ng-if="form.denominacion.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese denominacion.</div>
                                            <div class="has-error" data-ng-message="maxlength">Maximo 60 caracteres.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error' : form.moneda.$invalid && (form.moneda.$touched || form.$submitted)}">
                                        <label>Moneda</label>
                                        <div class="input-group">
                                            <ui-select name="moneda" data-ng-model="combo.selected.moneda" required>
                                                <ui-select-match placeholder="Moneda">{{$select.selected.alphabeticCode}}</ui-select-match>
                                                <ui-select-choices repeat="item in combo.moneda | filter: $select.search">
                                                    <div data-ng-bind-html="item.currency | highlight: $select.search"></div>
                                                    <small data-ng-bind-html="item.alphabeticCode | highlight: $select.search"></small>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                                        </div>
                                        <div data-ng-messages="form.moneda.$error" data-ng-if="form.moneda.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese moneda.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error' : form.tipoPersona.$invalid && (form.tipoPersona.$touched || form.$submitted)}">
                                        <label>Tipo persona</label>
                                        <div class="input-group">
                                            <ui-select name="tipoPersona" data-ng-model="combo.selected.tipoPersona" required>
                                                <ui-select-match placeholder="Tipo persona">{{$select.selected.denominacion}}</ui-select-match>
                                                <ui-select-choices repeat="item in combo.tipoPersona | filter: $select.search">
                                                    <div data-ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                                        </div>
                                        <div data-ng-messages="form.tipoPersona.$error" data-ng-if="form.tipoPersona.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese tipo persona.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error' : form.montoMinimo.$invalid && (form.montoMinimo.$touched || form.$submitted)}">
                                        <label>Monto minimo</label>
                                        <input type="text" name="montoMinimo" data-ng-model="view.producto.montoMinimo" data-ui-number-mask="0" data-min="0" data-max="1000000" class="form-control" required/>
                                        <div data-ng-messages="form.montoMinimo.$error" data-ng-if="form.montoMinimo.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese monto minimo.</div>
                                            <div class="has-error" data-ng-message="max">Monto maximo 1,000,000.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{ 'has-error' : form.montoMaximo.$invalid && (form.montoMaximo.$touched || form.$submitted)}">
                                        <label>Monto maximo</label>
                                        <input type="text" name="montoMaximo" data-ng-model="view.producto.montoMaximo" data-ui-number-mask="0" data-min="0" data-max="1000000" class="form-control" required/>
                                        <div data-ng-messages="form.denominacion.$error" data-ng-if="form.denominacion.$touched || form.$submitted">
                                            <div class="has-error" data-ng-message="required">Ingrese monto maximo.</div>
                                            <div class="has-error" data-ng-message="max">Monto maximo 1,000,000.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
                                <button type="button" class="btn btn-default" ui-sref="^.buscarProductoCredito">Cancelar</button>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>