<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Editar producto credito</h1>
</div>

<div class="wrapper-md">
    <div class="tab-container ng-isolate-scope">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active">
                <a href ui-sref=".resumen">
                    Resumen
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref=".datosPrincipales">
                    Datos principales
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref=".tasas">
                    Tasas
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref=".comisiones">
                    Comisiones
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref=".caracteristicas">
                    Caracteristicas
                </a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    <button type="button" data-ng-click="desactivar()" class="btn btn-danger">Desactivar</button>
                </div>
            </li>
        </ul>
        <div class="tab-content">
            <div ui-view></div>
        </div>
    </div>
</div>