<form name="form" sg-read-only="!(access.administrarTrabajadores || access.administrarTrabajadoresAgencia)" class="form-horizontal" novalidate>

	<fieldset class="border-top">
		<legend><span class="text ng-scope">Estado actual <i class="fa fa-question-circle text-muted ng-scope"
																tooltip="Usuario asignado en el sistema actualmente."
																tooltip-placement="right"></i></span></legend>
		<div class="form-group">
			<label class="col-sm-3 control-label">Usuario actual:</label>
			<div class="col-sm-3">
				<input type="text" data-ng-model="view.trabajador.usuario" class="form-control" placeholder="No asignado" disabled/>
			</div>
			<div class="col-sm-3">
				<button type="button" data-ng-click="desvincular()" class="btn btn-default">Desvincular usuario</button>
			</div>
		</div>
	</fieldset>

	<fieldset class="border-top">
		<legend><span class="text ng-scope">Asignar nuevo usuario <i class="fa fa-question-circle text-muted ng-scope"
																tooltip="Usuario a asignar en el sistema."
																tooltip-placement="right"></i></span></legend>

		<div class="form-group" ng-class="{ 'has-error' : form.usuario.$invalid && form.$submitted}">
			<label class="col-sm-3 control-label"><span class="required">*</span> Usuarios disponibles:</label>
			<div class="col-sm-3">
				<ui-select name="usuario" ng-model="combo.selected.usuario" autofocus required>
					<ui-select-autoload pk-name="username" comparator="view.trabajador.usuario"></ui-select-autoload>
					<ui-select-match placeholder="Seleccione">{{$select.selected.username}}</ui-select-match>
					<ui-select-choices repeat="item in combo.usuario track by $index"
									   refresh="refreshComboUsuario($select.search)"
									   refresh-delay="500">
						<div ng-bind-html="item.username | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
				<div ng-messages="form.usuario.$error" ng-if="form.$submitted">
					<div class="has-error" ng-message="required">Ingrese usuario.</div>
				</div>
			</div>
		</div>
	</fieldset>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button sg-save>Guardar</button>
            <button sg-cancel ui-sref="^.resumen">Cancelar</button>
        </div>
    </div>
</form>
