<form name="form" sg-read-only="!access.administrarTrabajadores" class="form-horizontal" novalidate>
    <h4><strong>Ubicacion</strong></h4>
    <div class="form-group" ng-class="{ 'has-error' : form.sucursal.$invalid && form.$submitted}">
        <label class="col-sm-2 control-label"><span class="required">*</span> Sucursal:</label>
        <div class="col-sm-3">
            <ui-select name="sucursal" ng-model="combo.selected.sucursal" ng-disabled="!access.administrarTrabajadores" autofocus required>
                <ui-select-autoload pk-name="denominacion" comparator="view.trabajador.agencia.sucursal.denominacion"></ui-select-autoload>
                <ui-select-match placeholder="Sucursal">{{$select.selected.denominacion}}</ui-select-match>
                <ui-select-choices repeat="item in combo.sucursal | filter: $select.search">
                    <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.sucursal.$error" ng-if="form.sucursal.$touched || form.$submitted">
                <div class="has-error" ng-message="required">Ingrese sucursal.</div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : form.agencia.$invalid && form.$submitted}">
        <label class="col-sm-2 control-label"><span class="required">*</span> Agencia:</label>
        <div class="col-sm-3">
            <ui-select name="agencia" ng-model="combo.selected.agencia" ng-disabled="!access.administrarTrabajadores" required>
                <ui-select-autoload pk-name="denominacion" comparator="view.trabajador.agencia.denominacion"></ui-select-autoload>
                <ui-select-match placeholder="Agencia">{{$select.selected.denominacion}}</ui-select-match>
                <ui-select-choices repeat="item in combo.agencia | filter: $select.search">
                    <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="form.sucursal.$error" ng-if="form.agencia.$touched || form.$submitted">
                <div class="has-error" ng-message="required">Ingrese agencia.</div>
            </div>
        </div>
    </div>

    <h4><strong>Persona</strong></h4>
    <div class="form-group" ng-class="{ 'has-error' : form.agencia.$invalid && form.$submitted}">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-6">
            <h3>
                <span ng-bind="view.loaded.persona.tipoDocumento"></span>-<span ng-bind="view.loaded.persona.numeroDocumento"></span>
            </h3>
            <h3>
                <span ng-bind="view.loaded.persona.apellidoPaterno"></span>&nbsp;
                <span ng-bind="view.loaded.persona.apellidoMaterno"></span>,&nbsp;
                <span ng-bind="view.loaded.persona.nombres"></span>
            </h3>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button sg-save>Guardar</button>
            <button sg-cancel ui-sref="^.resumen">Cancelar</button>
        </div>
    </div>
</form>