<form name="form" data-ng-submit="submit()" novalidate>

    <h4><strong>Abrir boveda</strong> </h4>

    <div class="row">
        <div class="col-sm-12">

            <p ng-if="!view.loaded.detalle.length">No se encontró detalle de boveda, asegurese de tener la boveda abierta.</p>
            <table ng-if="view.loaded.detalle.length" class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Valor</th>
                    <th>Cantidad</th>
                    <th>Sub total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in view.loaded.detalle | orderBy: 'valor'">
                    <td><span ng-bind="$index+1"></span></td>
                    <td><span ng-bind="item.valor | currency: ''"></span></td>
                    <td><span ng-bind="item.cantidad"></span></td>
                    <td>
                        <span ng-bind="item.getSubTotal() | currency: ''"></span>
                        &nbsp;
                        <span ng-bind="view.boveda.moneda"></span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th rowspan="1" colspan="3">Total:</th>
                    <th rowspan="1" colspan="1"><span ng-bind="getTotal() | currency : ''"></span></th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
        <button type="button" class="btn btn-default" ui-sref="^.resumen">Cancelar</button>
    </p>

</form>