<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Crear caja</h1>
</div>

<div class="wrapper-md">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <form name="form" data-ng-submit="submit()" novalidate>


                        <h4><strong>Datos principales</strong> </h4>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.sucursal.$invalid && (form.sucursal.$dirty || form.$submitted)}">
                                    <label>Sucursal</label>
                                    <ui-select name="sucursal" ng-model="combo.selected.sucursal" autofocus required>
                                        <ui-select-match placeholder="Sucursal">{{$select.selected.denominacion}}</ui-select-match>
                                        <ui-select-choices repeat="item in combo.sucursal | filter: $select.search">
                                            <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div ng-messages="form.sucursal.$error" ng-if="form.sucursal.$dirty || form.$submitted">
                                        <div class="has-error" ng-message="required">Ingrese sucursal.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.agencia.$invalid && (form.agencia.$dirty || form.$submitted)}">
                                    <label>Agencia</label>
                                    <ui-select name="agencia" ng-model="combo.selected.agencia" required>
                                        <ui-select-match placeholder="Agencia">{{$select.selected.denominacion}}</ui-select-match>
                                        <ui-select-choices repeat="item in combo.agencia | filter: $select.search">
                                            <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div ng-messages="form.agencia.$error" ng-if="form.agencia.$dirty || form.$submitted">
                                        <div class="has-error" ng-message="required">Ingrese agencia.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
                                    <label>Denominacion</label>
                                    <input type="text" name="denominacion" ng-model="view.caja.denominacion" ng-maxlength="60" class="form-control" required/>
                                    <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$touched || form.$submitted">
                                        <div class="has-error" ng-message="required">Ingrese denominacion.</div>
                                        <div class="has-error" ng-message="maxlength">Maximo 60 caracteres.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>
                            <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
                            <button type="button" class="btn btn-default" ui-sref="^.buscarCajas">Cancelar</button>
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


