<form name="form" data-ng-submit="submit()" novalidate>
    <h4><strong>Datos principales</strong> </h4>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Agencia</label>
                <h4><span ng-bind="view.caja.agencia.denominacion"></span></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : form.denominacion.$invalid && (form.denominacion.$touched || form.$submitted)}">
                <label>Denominacion</label>
                <input type="text" name="denominacion" ng-model="view.caja.denominacion" ng-maxlength="20" class="form-control" autofocus required/>
                <div ng-messages="form.denominacion.$error" ng-if="form.denominacion.$touched || form.$submitted">
                    <div class="has-error" ng-message="required">Ingrese denominacion.</div>
                    <div class="has-error" ng-message="maxlength">Maximo 20 caracteres.</div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-primary" ladda="control.block" data-style="expand-right">Guardar</button>
        <button type="button" class="btn btn-default" ui-sref="^.resumen">Cancelar</button>
    </p>
</form>