<form name="form" sg-read-only="!access.administrarPersonas" class="form-horizontal" novalidate>

    <sg-ubigeo data-ng-model="view.persona.ubigeo" form-layout="horizontal" ng-disabled="!access.administrarPersonas"></sg-ubigeo>

    <div class="form-group" data-ng-class="{ 'has-error' : form.ocupacion.$invalid && form.$submitted }">
        <label class="col-sm-2 control-label">Ocupacion:</label>
        <div class="col-sm-3">
            <input name="ocupacion" type="text" data-ng-model="view.persona.ocupacion" data-ng-maxlength="70" class="form-control" capitalize />
            <div data-ng-messages="form.ocupacion.$error" data-ng-if="form.ocupacion.$touched || form.$submitted">
                <div class="has-error" data-ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.direccion.$invalid && form.$submitted }">
        <label class="col-sm-2 control-label">Direccion:</label>
        <div class="col-sm-3">
            <input name="direccion" type="text" data-ng-model="view.persona.direccion" data-ng-maxlength="70" class="form-control" capitalize />
            <div data-ng-messages="form.direccion.$error" data-ng-if="form.direccion.$touched || form.$submitted">
                <div class="has-error" data-ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.referencia.$invalid && form.$submitted }">
        <label class="col-sm-2 control-label">Referencia:</label>
        <div class="col-sm-3">
            <input name="referencia" type="text" data-ng-model="view.persona.referencia" data-ng-maxlength="70" class="form-control" capitalize />
            <div data-ng-messages="form.referencia.$error" data-ng-if="form.referencia.$touched || form.$submitted">
                <div class="has-error" data-ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.telefono.$invalid && (form.telefono.$touched || form.$submitted)}">
        <label class="col-sm-2 control-label">Telefono:</label>
        <div class="col-sm-2">
            <input name="telefono" type="text" data-ng-model="view.persona.telefono" data-ng-maxlength="20" class="form-control" />
            <div data-ng-messages="form.telefono.$error" data-ng-if="form.telefono.$touched || form.$submitted">
                <div class="has-error" data-ng-message="maxlength">Maximo 20 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.celular.$invalid && (form.celular.$touched || form.$submitted)}">
        <label class="col-sm-2 control-label">Celular:</label>
        <div class="col-sm-2">
            <input name="celular" type="text" data-ng-model="view.persona.celular" data-ng-maxlength="20" class="form-control" />
            <div data-ng-messages="form.celular.$error" data-ng-if="form.celular.$touched || form.$submitted">
                <div class="has-error" data-ng-message="maxlength">Maximo 20 Caracteres.</div>
            </div>
        </div>
    </div>
    <div class="form-group" data-ng-class="{ 'has-error' : form.email.$invalid && (form.email.$touched || form.$submitted)}">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-3">
            <input name="email" type="email" data-ng-model="view.persona.email" data-ng-maxlength="70" class="form-control" />
            <div data-ng-messages="form.email.$error" data-ng-if="form.email.$touched || form.$submitted">
                <div class="has-error" data-ng-message="email">Email Incorrecto.</div>
                <div class="has-error" data-ng-message="maxlength">Maximo 70 Caracteres.</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button sg-save ng-disabled="working">
                <span ng-show="working">Guardando...</span>
                <span ng-hide="working">Guardar</span>
            </button>
            <button sg-cancel ng-disabled="working" ui-sref="^.resumen">Cancelar</button>
        </div>
    </div>

</form>
