<ui-view>

    <div class="wrapper-md ng-scope">

        <div class="panel panel-default">
            <div class="panel-heading font-bold">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>

    </div>

</ui-view>