<h1>Tipos de documento</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <form name="ctrl.form" data-ng-submit="search()" novalidate>
            <div class="sg-grid-top-panel">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="filterText" class="form-control" data-ng-model="filterOptions.filterText" placeholder="Buscar" autofocus>
                                <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search text"></i></button></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group pull-right">
                            <button type="button" data-ng-click="nuevo()" class="btn btn-primary">Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div ui-grid="gridOptions" external-scopes="gridActions" ui-grid-selection class="grid"></div>
    </div>
</div>